name: Quick Build

on: [workflow_dispatch]

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: brew install swiftlint go
      - run: cp Sources/WireGuardApp/Config/Developer.xcconfig.template Sources/WireGuardApp/Config/Developer.xcconfig
      # Проверяем доступные схемы
      - run: xcodebuild -list -project WireGuard.xcodeproj
      # Собираем для iOS
      - run: xcodebuild -project WireGuard.xcodeproj -scheme "WireGuard" -configuration Release -destination 'generic/platform=iOS' build CODE_SIGNING_ALLOWED=NO
      # Собираем для macOS
      - run: xcodebuild -project WireGuard.xcodeproj -scheme "WireGuard" -configuration Release -destination 'generic/platform=macOS' build CODE_SIGNING_ALLOWED=NO
      - uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: build/
